flask
google-genai
twilio
pillow

requests
streamlit-autorefresh
scikit-learn
streamlit
pandas
google-generativeai
plotly

reportlab
openpyxl
requests
google-auth>=2.0.0
google-api-python-client>=2.0.0

